# Part 4

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load data
df =pd.read_csv('data.csv')

C:\Users\ling\AppData\Local\Temp\ipykernel_11844\1494377453.py:2: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv('data.csv')

In [7]:
df = df.assign(AverageSalary = lambda row: (row.LowestSalary + row.HighestSalary) /2 )

# keep 8 number int 
df["Id"] = df['Id'].replace(to_replace=r'&.*', value='', regex=True)

# fix the data type of column Date
df["Date"] = df["Date"].replace(to_replace=r'T.*', value='', regex=True)

df.head()

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,AverageSalary
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN,15.0
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN,15.0
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN,15.0
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN,15.0
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN,15.0

In [8]:
# Set column "Id" to type int64
df["Id"] = df['Id'].astype(np.int64)

# Set column "Date" to type datetime64[ns]
df["Date"] = pd.to_datetime(df["Date"])
# Data types after data cleaning and conversions
df.dtypes

Id                            int64
Title                        object
Company                      object
Date                 datetime64[ns]
Location                     object
Area                         object
Classification               object
SubClassification            object
Requirement                  object
FullDescription              object
LowestSalary                  int64
HighestSalary                 int64
JobType                      object
AverageSalary               float64
dtype: object

In [9]:
# delete duplicate

duplicate_count = df[df.duplicated()].shape[0]
print("Duplicates found: ", duplicate_count)
no_dates = df.drop('Date', axis=1)
duplicate_count_no_dates = no_dates[no_dates.duplicated()].shape[0]
difference = duplicate_count_no_dates - duplicate_count
print('Additional duplicates found without regard to timestamp: ', difference)

Duplicates found:  108
Additional duplicates found without regard to timestamp:  43

### Scenario 1:

In [46]:
# Filter rows where the location is in Queensland
queensland = ['Brisbane', 'Gold Coast', 'Sunshine Coast', 'Townsville', 'Cairns', 'Toowoomba', 'Mackay', 
              'Rockhampton', 'Bundaberg', 'Hervey Bay', 'Gladstone', 'Maryborough', 'Mount Isa', 'Gympie', 
              'Ipswich', 'Logan', 'Redland', 'Moreton Bay']
queensland_data = df[(df['Location'].isin(queensland)) & (df['AverageSalary'] >= 80)]

# Drop rows with missing values in 'Classification' or 'AverageSalary' columns
queenslandDf = queensland_data.dropna(subset=['Classification', 'AverageSalary'])

# Group by 'Classification' and calculate the average salary for each
average_salary_by_classification = queenslandDf.groupby('Classification')['AverageSalary'].mean()

# Sort the classifications by average salary in descending order
Sorted = average_salary_by_classification.sort_values(ascending=False)

# Recommend the top classifications as potential majors to Tom
top5 = Sorted.head(5)



print("Recommended for Tom:")
print("Major:", top5)

Recommended for Tom:
Major: Classification
CEO & General Management                  363.283951
Information & Communication Technology    246.493485
Healthcare & Medical                      235.934783
Mining, Resources & Energy                219.028443
Consulting & Strategy                     185.862069
Name: AverageSalary, dtype: float64

In [ ]:
# plot if needed

Discussion:

Based on above analysis, i recommend Tom ......
CEO & General Management is in business feild. Tom can enroll in bachelor's degree in business. There is a higher salary job in Queensland.

### Scenario 2:

In [60]:
# Analysis
JobDemand = df['Classification'].value_counts()
print('Top 5\n', JobDemand.head(5),'\n')
print('Last 5\n', JobDemand.tail(5))

Top 5
 Classification
Information & Communication Technology    2901
Trades & Services                         2685
Healthcare & Medical                      2575
Hospitality & Tourism                     2214
Manufacturing, Transport & Logistics      1945
Name: count, dtype: int64

Last 5
 Classification
CEO & General Management           113
Science & Technology               113
Advertising, Arts & Media           85
Farming, Animals & Conservation     75
Self Employment                     11
Name: count, dtype: int64

Discussion:

Majors like Information & Communication Technology, Trades & Services, Healthcare & Medical, Hospitality & Tourism, and Manufacturing, Transport & Logistics exhibited robust job demand, boasting thousands of job posting. 


However, majors such as CEO & General Management, Science & Technology, Advertising, Arts & Media, Farming, Animals & Conservation, and Self Employment displayed lower job demand, with fewer opportunities available.

Recommendations:

We recommend extending admission for majors with high job demand, such as Information & Communication Technology, Trades & Services, Healthcare & Medical, Hospitality & Tourism, and Manufacturing, Transport & Logistics. These majors offer abundant job opportunities and promising career prospects for graduates.

We suggest reducing admission for majors with lower job demand, including CEO & General Management, Science & Technology, Advertising, Arts & Media, Farming, Animals & Conservation, and Self Employment. While these majors may still hold value for certain students, adjusting admission numbers ensures that resources are utilized efficiently and that graduates are adequately prepared for the job market

In [61]:
# Analysis in Queensland
JobDemand = queenslandDf['Classification'].value_counts()
print('Top 5\n', JobDemand.head(5),'\n')
print('Last 5\n', JobDemand.tail(5))

Top 5
 Classification
Information & Communication Technology    2072
Healthcare & Medical                      1081
Engineering                                648
Construction                               584
Government & Defence                       530
Name: count, dtype: int64

Last 5
 Classification
Call Centre & Customer Service     20
Sport & Recreation                 20
Advertising, Arts & Media           9
Self Employment                     8
Farming, Animals & Conservation     3
Name: count, dtype: int64

Discussion:
    
The analysis of job market data in Queensland reveals notable disparities in job demand across various majors. The top five majors in terms of job demand are Information & Communication Technology, Healthcare & Medical, Engineering, Construction, and Government & Defence. These majors attract a significant number of job listings, indicating strong demand in the Queensland job market.

Conversely, the last five Classification in terms of job demand are Call Centre & Customer Service, Sport & Recreation, Advertising, Arts & Media, Self Employment, and Farming, Animals & Conservation. These majors have relatively lower job demand, with fewer opportunities available in the Queensland job market.

The top 5 Classification exhibit strong job demand in Queensland and offer promising career prospects for graduates. Extending admission numbers for these majors can ensure that Griffith University meets the workforce needs of the region.

While for the last 5 majors may still have value for certain students, their lower job demand suggests that admission numbers could be adjusted to better align with market realities. This allows the university to allocate resources effectively and prioritize majors with higher demand.